<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bus Stop Bonanza</title>

    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <script>
        var map;
        var brooklyn = new google.maps.LatLng(40.6743890, -73.9455);

        var MY_MAPTYPE_ID = 'custom_style';

        function initialize() {

          var featureOpts = [
            {
              stylers: [
                { hue: '#890000' },
                { visibility: 'simplified' },
                { gamma: 0.5 },
                { weight: 0.5 }
              ]
            },
            {
              elementType: 'labels',
              stylers: [
                { visibility: 'off' }
              ]
            },
            {
              featureType: 'water',
              stylers: [
                { color: '#890000' }
              ]
            }
          ];

          var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(-33, 151),
            disableDefaultUI: true,
            mapTypeId: MY_MAPTYPE_ID
          };

          map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);

          var styledMapOptions = {
            name: 'Custom Style'
          };

          var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);

          map.mapTypes.set(MY_MAPTYPE_ID, customMapType);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <script type=text/javascript>
        //$SCRIPT_ROOT = {{ request.script_root|safe }};
    </script>
</head>
<body>
    {% block main %}{% endblock %}
</body>
</html>