{% extends "app/base.html" %}

{% block main %}

    <div class="container-fluid">
        <br>
        <div class="jumbotron">
            <h1>Bus Stop Bonanza</h1>
            <p>Select Your Route(s)</p>

            <!-- Selected Routes -->
            <div id="chosen-routes">
            </div>


            <hr width=100% align=left>

            <!-- Available Routes -->
            <div id="available-routes">
                {% for service in nearest_services %}
                    <button type="button" class="btn btn-default">{{ service }}</button>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            {% for bus in nearest_buses %}
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading"><b>{{ bus.service_name }} - East to {{ bus.destination }} </b></div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-3" style="text-align: right; border-right: 1px solid #cfcfcf;">10:33</div>
                                    <div class="col-xs-9">Chalmer Street</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3" style="text-align: right; border-right: 1px solid #cfcfcf;">10:45</div>
                                    <div class="col-xs-9">Lothian Road</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3" style="text-align: right; border-right: 1px solid #cfcfcf;">10:54</div>
                                    <div class="col-xs-9">Princes Street</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {% load staticfiles %}
    <script src="{% static "bus_stop/choose_route.js" %}"></script>

{% endblock %}