{% extends "app/base.html" %}

{% block main %}

    <div class="container-fluid">
        <br>
        <div class="jumbotron">
            <h1>Bus Stop Bonanza</h1>
            <p>Select Your Route(s)</p>

            <!-- Selected Routes -->
            <button type="button" class="btn btn-primary">78</button>


            <hr width=100% align=left>

            <!-- Available Routes -->
            <button type="button" class="btn btn-default">94a</button>
            <button type="button" class="btn btn-default">37</button>
            <button type="button" class="btn btn-default">16</button>
            <button type="button" class="btn btn-default">900</button>
            <button type="button" class="btn btn-default">47</button>
            <button type="button" class="btn btn-default">62a</button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">78 - Edinburgh to Galashiels</div>
                    <div class="panel-body">
                        This is some information about this route
                        <!--<div id="map-canvas" class="col-sm-6" style="height:200px;"></div>-->
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Route 78</div>
                    <div class="panel-body">
                        This is some information about this route
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Route 78</div>
                    <div class="panel-body">
                        This is some information about this route
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Route 78</div>
                    <div class="panel-body">
                        This is some information about this route
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Route 78</div>
                    <div class="panel-body">
                        This is some information about this route
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}