{% extends "app/base.html" %}

{% block main %}

    <div class="container-fluid">
        <br>
        <div class="jumbotron">
            <h1>Bus Stop Bonanza</h1>
            <p>Select Your Route(s)</p>

            <!-- Selected Routes -->
            <button type="button" class="btn btn-primary">78</button>


            <hr width=100% align=left>

            <!-- Available Routes -->
            <div id="available-routes">
                {% for service in nearest_services %}
                    <button type="button" class="btn btn-default">{{ service }}</button>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            {% for bus in nearest_buses %}
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ bus.service_name }} - East to {{ bus.destination }} </div>
                        <div class="panel-body">
                            <p>Start</p>
                            <p>...</p>
                            <p>Current</p>
                            <p>next</p>
                            <p>next again</p>
                            <p>...</p>
                            <p>End</p>
                            <!--<div id="map-canvas" class="col-sm-6" style="height:200px;"></div>-->
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {% load staticfiles %}
    <script src="{% static "bus_stop/choose_route.js" %}"></script>

{% endblock %}