{% for journey in journeys %}
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ journey.service_number }} - East to {{ journey.destination }} </b></div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3" style="text-align: right; border-right: 1px solid #cfcfcf;">10:33</div>
                        <div class="col-xs-9">Chalmer Street</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3" style="text-align: right; border-right: 1px solid #cfcfcf;">10:45</div>
                        <div class="col-xs-9">Lothian Road</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3" style="text-align: right; border-right: 1px solid #cfcfcf;">10:54</div>
                        <div class="col-xs-9">Princes Street</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}