{% extends "app/base.html" %}

{% block main %}

    <h1>reads out stuff</h1>
    <audio autoplay>
        <source src="http://tts-api.com/tts.mp3?q={{ audio_string }}." type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <a onclick="getLocation()" href="/stops">stops</a>

<button onclick="getLocation()">Get Coordinates</button>

<p id="demo"></p>

<script>
    var x = document.getElementById("demo");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
        "<br>Longitude: " + position.coords.longitude;
    }
</script>

{% endblock %}