{% extends "app/base.html" %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ bus.service_name }} - East to {{ bus.destination }} </div>
                    <div class="panel-body">
                        <p>Start</p>
                        <p>...</p>
                        <p>Current</p>
                        <p>next</p>
                        <p>next again</p>
                        <p>...</p>
                        <p>End</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}