{% if three_stops|length > 1 %}
    {% for stop in three_stops %}
        <div class="row">
            <div class="col-xs-3" style="text-align: right; border-right: 1px solid #cfcfcf;">{{ stop.time }}</div>
            <div class="col-xs-9">{{ stop.name }}</div>
        </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-xs-3" style="text-align: right; border-right: 1px solid #cfcfcf;">..:..</div>
        <div class="col-xs-9">Stops not found.</div>
    </div>
{% endif %}

