{% extends "app/base.html" %}

{% block main %}

    <div class="container-fluid">
        <div class="jumbotron">
            <p>Select Your Route(s)</p>

            <!-- Selected Routes -->
            <div id="chosen-routes">
            </div>


            <hr width=100% align=left>

            <!-- Available Routes -->
            <div id="available-routes">
                {% for button in buttons %}
                    <button type="button" class="btn btn-default">{{ button }}</button>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div id="nearest-buses" data-feed="{{ data_feed }}">

                {% for s in services %}
                    <div class="col-md-3" data-service="{{ s.service_name }}" data-destination="{{ s.destination }}">
                        <div class="panel panel-default">
                            <div class="panel-heading"><b>{{ s.service_name }} to {{ s.destination }} </b></div>
                            <div class="panel-body">
                                <div class="container-fluid" data-service="{{ s.service_name }}" data-destination="{{ s.destination }}">
                                    <div class="row">
                                        <div class="col-xs-3" style="text-align: right; border-right: 1px solid #cfcfcf;">..:..</div>
                                        <div class="col-xs-9">fetching ...</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3" style="text-align: right; border-right: 1px solid #cfcfcf;">..:..</div>
                                        <div class="col-xs-9">fetching ...</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3" style="text-align: right; border-right: 1px solid #cfcfcf;">..:..</div>
                                        <div class="col-xs-9">fetching ...</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    {% load staticfiles %}
    <script src="{% static "bus_stop/feed.js" %}"></script>

{% endblock %}