<audio id="stop-audio">
    <source src="http://tts-api.com/tts.mp3?q=your+next+stop+is+{{ audio_string }}." type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<div id="bus-data" data-service="{{ service }}" data-destination="{{ destination }}" data-stop="{{ three_stops.0.name }}">
    <h2>{{ service }} to {{ destination }}</h2>

        <br>

        <div class="list-group">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-2" style="text-align: right; border-right: 1px solid #cfcfcf;">00:00</div>
                    <div class="col-xs-9">Start</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-2" style="text-align: right; border-right: 1px solid #cfcfcf;">...</div>
                    <div class="col-xs-9">...</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-2" style="text-align: right; border-right: 1px solid #cfcfcf;">{{ three_stops.0.time }}</div>
                    <div class="col-xs-9">{{ three_stops.0.name }}</div>
                </div>
            </div>
            <div class="list-group-item active">
                <div class="row">
                    <div class="col-xs-2" style="text-align: right; border-right: 1px solid #ffffff;">{{ three_stops.1.time }}</div>
                    <div class="col-xs-9">{{ three_stops.1.name }}</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-2" style="text-align: right; border-right: 1px solid #cfcfcf;">{{ three_stops.2.time }}</div>
                    <div class="col-xs-9">{{ three_stops.2.name }}</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-2" style="text-align: right; border-right: 1px solid #cfcfcf;">...</div>
                    <div class="col-xs-9">...</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-2" style="text-align: right; border-right: 1px solid #cfcfcf;">24:00</div>
                    <div class="col-xs-9">End</div>
                </div>
            </div>
        </div>
</div>